asgiref==3.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.1.9
django-objects-count==2021.6.24
django-phonenumber-field==7.1.0
django-twilio==0.14.3.1
et-xmlfile==1.1.0
idna==3.4
openpyxl==3.1.2
phonenumbers==8.13.11
Pillow==9.5.0
PyJWT==2.7.0
pytz==2023.3
reportlab==4.0.4
requests==2.31.0
sqlparse==0.4.4
twilio==7.17.0
tzdata==2023.3
urllib3==2.0.2
