{% load static %}
<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Forgetpassword </title>

        <!-- CSS -->
        
        <link rel="stylesheet" href="{% static 'css/style3.css' %}" >
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

                        
    </head>
    <style>
    body {
      background-image: url("images/priscilla-du-preez-F9DFuJoS9EU-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Change Password</header>
                    <form action="adminchangepassword" method="POST">
                         {% csrf_token %} 
                        <div class="field input-field">
                        <input type="text" placeholder="Username" name="Username"  value="{{Username}}" required>
                        </div>
                    <div class="field input-field">
                            <input type="Password" placeholder="New_Password" name="New_Password"  value="{{New_Password}}" required><br>

                    </div>
                    <div class="field input-field">
                            <input type="Password" placeholder="Confirm_Password" name="Confirm_Password"  value="{{Confirm_Password}}" required><br>
                    </div>



                       
                        <div class="field button-field">
                            <button>Continue</button>
                        </div>
                    </form>

                    

                
            <!-- Signup Form -->

            

        <!-- JavaScript -->
 <script src="{% static 'js/script.js' %}" ></script>
    </body>
</html>