{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Therapy Exellence/Caretaker</title>
    <!-- GLOBAL MAINLY STYLES-->

   
   
     
   
    <!-- PAGE LEVEL STYLES-->
   

    <link rel="stylesheet" href="{% static 'css/sidebarcustom2.css' %}" >
    
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- list
    <link rel="stylesheet" href="{% static 'css/list.css' %}" > -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/b8b432d7d3.js" crossorigin="anonymous"></script>
    <!-- import css file (style.css) -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %} ">
    <!--style for add profile -->
    
   
</head>
<body>
    <div class="sidebar">

     
        
        
        <img src="static/img/images/logo_2.png" alt="Side Navigation Image">
        


   


      <ul class="nav-list">
        
        <li>
          <a href="caretakerhome">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
      
        </li>
        <li>
          <a href="caretakerprofile">
            <i class="bx bx-user"></i>
            <span class="links_name">Profile</span>
          </a>
         
        </li>
       
        <li>
          <a href="logout">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Logout</span>
          </a>
         
        </li>

       
         
      </ul>
    </div>
      <section class="home-section">
 
 <nav>
    <ul>
      <li><h3><a href="#">Caretaker</a></li></h3>
       <li class="search-bar">
        <form>
          <input type="text" placeholder="Search">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </li>
      <li>
        
          
          
          <button class="my-button1">Delicated Access</button>
        
      </li>
     
      <img src="static/img/images/Ellipse_1.png">
       <li class="right">
      <a href="#">Akshay</a>
  
</li>
       
      
 
    </ul>
  </nav>

  <h2>Caretaker</h2>

      
   <div class="container">


        <div class="profile-card">
            <div class="profile-header"><!-- profile header section -->
                <img  width="980px" height="200px"src="static/img/images/woman-practicing-exercise-phys.png">
                <div class="main-profile">
                    <div class="profile-image"><img class="profile-image" src="static/img/images/Ellipse_1.png"></div>
                    <div class="profile-names">
                        <h1 class="username">Akshay.k</h1>
                        <small class="page-title"></small>
                    </div>
                </div>
            </div>

                <div class="account-info">
                    <div class="data">
                        <div class="important-data">
                            <section class="data-item">
                                <table>
    <thead>
      <tr>
        <th><h3 class="value">Full name</h3></th>
        <th><small class="title">Akshay.k</small></th><br>
       
      
   
      
        <th><h3 class="value">Gender</h3></th>
        <th><small class="title">Male</small></th><br>


        <th><h3 class="value">Desigination</h3></th>
        <th><small class="title">Admin</small></th>

         <th><h3 class="value">Mobile Number</h3></th>
        <th><small class="title">+918137943445</small></th>
       
       
       
      </tr>
      <tr>
        <td><h3 class="value">Age</h3></td>
        <td><small class="title">24</small></td>

         <td><h3 class="value">Addres</h3></td>
        <td><small class="title">18th main</small></td>

         <td><h3 class="value">Email</h3></td>
        <td><small class="title">akshay@gmail.com</small></td>
         <td><h3 class="value">Degree</h3></td>
        <td><small class="title">Psy.D</small></td>
        
      </tr>
      
    </tbody>
  </table>

  <h4 align="left">About</h4>

  <p align="left">Verywell Mind, a Dotdash Meredith Brand, is an award-winning, trusted, and compassionate online resource that provides the guidance you need to improve your mental health and find balance. We take a human approach to health and wellness, and reach more than 150 million readers annually. Verywell Mind content is fact checked and reviewed by our Review Board for accuracy and integrity. Learn more about us and our editorial process.<p>

                            





                  
    </div>

</section>

        
         
                    
  
    <script src="static/js/script.js"></script>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
   
</body>

</html>