{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Therapy Exellence/Caretaker</title>
    <!-- GLOBAL MAINLY STYLES-->

   
    
   
  
   
    <!-- PAGE LEVEL STYLES-->
   

    <link rel="stylesheet" href="{% static 'css/sidebarcustom2.css' %}" >

    <link rel="stylesheet" href="{% static 'css/caretakerhome.css' %}" >
    
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- list
    <link rel="stylesheet" href="{% static 'css/list.css' %}" > -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--style for add profile -->
    
   
</head>
<body>
    <div class="sidebar">

     
        
        
        <img src="static/img/images/logo_2.png" alt="Side Navigation Image">
        


   


      <ul class="nav-list">
        
        <li>
          <a href="caretakerhome">
            <i><iconify-icon icon="material-symbols:dashboard"></iconify-icon></i>
            <span class="links_name">Dashboard</span>
          </a>
      
        </li>
        <li>
          <a href="caretakerprofile">
           <i><iconify-icon icon="iconamoon:profile-duotone"></iconify-icon></i>
            <span class="links_name">Profile</span>
          </a>
         
        </li>
       
        <li>
          <a href="logout">
            <i><iconify-icon icon="material-symbols:logout"></i>
            <span class="links_name">Logout</span>
          </a>
         
        </li>

       
         
      </ul>
    </div>
     <section class="home-section">
 
 <nav>
    <ul>
      <li><h3><a href="#">Caretaker</a></li></h3>
       <li class="search-bar">
        <form>
          <input type="text" placeholder="Search">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </li>
      <li>
        
          
          
          <button class="my-button1">Delicated Access</button>
        
      </li>
      <img src="static/img/images/Ellipse_1.png">
       <li class="right">
  <a href="#">Akshay</a>
  
</li>
   
    </ul>
  </nav>    
  <h2>Clients</h2> 

  <div class="client-profiles">
    <div class="row1">
    <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>
    
    <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>
    
    <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>
    
   <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>
  </div>

  <div class="row1">
 <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>
    
    <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>

    <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>
    
    <div class="profile-box">
       <img src="static/img/images/Ellipse_185_ft.png">
        <h4>Shwetha</h4>
      
      <div><a href="caretakerprofile"><button type="submit" class="my-button3 white">View Profile</button></a></div>
      
    </div>



  </div>



               

    <script src="static/js/script.js"></script>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
   
</body>

</html>