{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Therapy Exellence/Client</title>
    <!-- GLOBAL MAINLY STYLES-->

   
    
   
    <link rel="stylesheet" href="{% static 'css/Appointments.css' %} ">
   
    <!-- PAGE LEVEL STYLES-->
   

    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" >
    
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- list-->
    <link rel="stylesheet" href="{% static 'css/list1.css' %}" > 

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--style for add profile -->
    
   
</head>
<body>
    <div class="sidebar">

     
        
        
        <img src="static/img/images/logo_2.png" alt="Side Navigation Image">
        


   <ul class="nav-list">
        
        <li>
          <a href="clienthome">
             <i><iconify-icon icon="material-symbols:dashboard"></iconify-icon></i>
            <span class="links_name">Dashboard</span>
          </a>
      
        </li>
        <li>
          <a href="clientprofile">
            <i><iconify-icon icon="iconamoon:profile-duotone"></iconify-icon></i>
            <span class="links_name">Profile</span>
          </a>
         
        </li>
        <li>
          <a href="clientnotification">
             <i><iconify-icon icon="iconamoon:notification-duotone"></iconify-icon></i>
            <span class="links_name">Notification</span>
          </a>
         
        </li>
        
      

        <li>
         
          <a href="clientservices">
           <i><iconify-icon icon="uil:calender"></iconify-icon></i>
            <span class="links_name">Services</span>
          </a>
        
        </li>
       <li>
          <a href="clientbook_appointments">
           <i><iconify-icon icon="uil:calender"></iconify-icon></i>
            <span class="links_name">Book Appointments</span>
          </a>
         
        </li>
        <li>
          
            <a href="clientfaq"><i><iconify-icon icon="streamline:interface-help-question-circle-circle-faq-frame-help-info-mark-more-query-question"></i>
            <span class="links_name">FAQs</span>
          </a>
         
        </li>
        
        

        <li>
          
            <a href="clientsupport"><i><iconify-icon icon="bx:headphone"></i>
            <span class="links_name">Support</span>
          </a>
         
        </li>
        <li>
          <a href="logout">
             <i><iconify-icon icon="material-symbols:logout"></i>
            <span class="links_name">Logout</span>
          </a>
         
        </li>

       
         
      </ul>
    </div>
     <section class="home-section">
 
  <nav>
    <ul>
      <li><h3><a href="#">Client</a></li></h3>
       <li class="search-bar">
        <form>
          <input type="text" placeholder="Search">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </li>
      <li>
        
          
          
          <button class="my-button1">Delicated Access</button>
        
      </li>
      <img src="static/img/images/Ellipse_1.png">
       <li class="right">
  <a href="#">Akshay</a>
  
</li>
   
    </ul>
  </nav>


  

     <div class="content-wrapper">
           
               
               

           
            <div class="content">
            <div class="row">
            <div class="item"><div class="circle-service ">
                              
            <a href="clientservice1">
            <div><h3 class="m-0">Service 1</h3></div>
            </div></div>


            
            <div class="item"><div class="circle-service ">
                              
            <a href="clientservice2">
            <div><h3 class="m-0">Service 2</h3></div>
            </div></div>

             
            <div class="item"><div class="circle-service ">
                              
            <a href="clientservice3">
            <div><h3 class="m-0">Service 3</h3></div>
            </div></div>




    <script src="static/js/script.js"></script>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
   
</body>

</html>