{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Forgot Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- MATERIAL DESIGN ICONIC FONT -->
        

        <!-- STYLE CSS -->
        <link rel="stylesheet" href="static/css/login2.css">
  
</head>
<body>
  <div class="container2">
     <div class="container">
    <div class="combined-section">
      <div class="image-section">
         <img src="static/img/loginimage.jpg" alt="Background Image">
         <img class="overlay-image" src="static/img/logo_2.png" alt="Overlay Image">
      </div>
      <div class="login-section">
         <img src="{% static 'img/SVG/checkmail.svg'%}" width="30" height="30">
        <h2>Check Your Mail </h2>
        <div>
        <p>You have sent a password recovery instruction to your email</p>
       

      
          
                
          <a href="supervisorlogin"><button type="button" class="my-button green-button">Ok</button></a>
       
                    
 </form>
            </div>
        </div>


        <!-- JavaScript -->
        <script src="{% static 'js/script.js' %}" ></script>

        
    </body>
</html>