{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Sign in</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- MATERIAL DESIGN ICONIC FONT -->
        

        <!-- STYLE CSS -->
        <link rel="stylesheet" href="static/css/login2.css">
  
</head>
<body>
  <div class="container2">
     <div class="container">
    <div class="combined-section">
      <div class="image-section">
         <img src="static/img/loginimage.jpg" alt="Background Image">
         <img class="overlay-image" src="static/img/logo_2.png" alt="Overlay Image">
      </div>
      <div class="login-section">
        <h2>Sign In</h2>
        <form action="supervisorlogin_with_password" method="POST">

             {% csrf_token %}
            <label>Username:</label>
         
          <input type="text" class="form-control" name="Username"  value="{{Username}}" required>
          
          <label>Password:</label>
           <input type="Password"  name="Password" name="Password" value="{{Password}}"  class="form-control" required>

          
         
          <button>Sign In</button>
       
                    
</form>
     <!-- JavaScript -->
        <script src="{% static 'js/script.js' %}" ></script>

      </div>
      </div>
      </div>
      </div>  
    </body>
</html>