{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Forgot Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- MATERIAL DESIGN ICONIC FONT -->
        

        <!-- STYLE CSS -->
        <link rel="stylesheet" href="static/css/login2.css">
  
</head>
<body>
  <div class="container2">
     <div class="container">
    <div class="combined-section">
      <div class="image-section">
         <img src="static/img/loginimage.jpg" alt="Background Image">
         <img class="overlay-image" src="static/img/logo_2.png" alt="Overlay Image">
      </div>
      <div class="login-section">
         <img src="{% static 'img/SVG/forgotpassword.svg'%}" width="50" height="50">
        <h2>Forgot Password ?</h2>
        <p>Enter your registered email below to receive password reset instruction</p>

       <form action="therapistforgetpassword" method="POST">
          {% csrf_token %}
            <label>Email:</label>
         
          <input type="text" value="{{Email}}" name="Email" class="form-control"required>
          
         
          
         
          <button>Continue</button>
       
                    
 </form>
            </div>
        </div>


        <!-- JavaScript -->
        <script src="{% static 'js/script.js' %}" ></script>

        
    </body>
</html>